<div class="editor-items" *ngIf="items.length > 0">

  <ng-container *ngIf="allowReorder">
    <ion-reorder-group [disabled]="false" (ionItemReorder)="onReorder($event)">
      <div class="editor-item"
           *ngFor="let item of items"
           [class.editor-item--editing]="editingItemId === item.id">
        <ion-reorder class="reorder-handle"></ion-reorder>
        <span class="editor-item-name">{{ item.name }}</span>
        <ng-container *ngIf="showTags && item.resolvedTags?.length">
          <app-tag-pill *ngFor="let t of item.resolvedTags" [name]="t.name" [color]="t.color"></app-tag-pill>
        </ng-container>
        <button *ngIf="allowEdit"
                class="editor-item-action"
                (click)="onEditClick(item); $event.stopPropagation()"
                aria-label="Edit">
          <ion-icon name="create-outline"></ion-icon>
        </button>
        <button *ngIf="!allowEdit"
                class="editor-item-action"
                (click)="onRemove(item.id)"
                aria-label="Delete">
          <ion-icon name="trash-outline"></ion-icon>
        </button>
      </div>
    </ion-reorder-group>
  </ng-container>

  <ng-container *ngIf="!allowReorder">
    <div class="editor-item" *ngFor="let item of items">
      <span class="editor-item-name">{{ item.name }}</span>
      <button class="editor-item-action" (click)="onRemove(item.id)" aria-label="Delete">
        <ion-icon name="trash-outline"></ion-icon>
      </button>
    </div>
  </ng-container>

</div>

<p class="section-label" *ngIf="addLabel || editingItemId">
  {{ editingItemId ? 'Edit item' : addLabel }}
</p>

<input
  class="text-input"
  [(ngModel)]="newItemName"
  [placeholder]="placeholder"
  type="text"
  maxlength="60"
  (keydown)="onKeydown($event)"
/>

<p class="section-label" *ngIf="showTags">Tags (optional)</p>
<p class="no-tags-hint" *ngIf="showTags && tags.length === 0">No tags available</p>

<div class="tag-selector" *ngIf="showTags && tags.length > 0">
  <button
    *ngFor="let tag of tags"
    class="tag-sel-pill"
    [class.tag-sel-pill--selected]="isTagSelected(tag.id)"
    [style.background-color]="isTagSelected(tag.id) ? tag.color : ''"
    [style.border-color]="tag.color"
    [style.color]="isTagSelected(tag.id) ? '#fff' : tag.color"
    (click)="toggleTag(tag.id)"
  >
    <ion-icon *ngIf="isTagSelected(tag.id)" name="checkmark" class="pill-check"></ion-icon>
    {{ tag.name }}
  </button>
</div>

<ng-container *ngIf="!editingItemId">
  <ion-button expand="block" (click)="onAdd()">Add</ion-button>
</ng-container>

<div *ngIf="editingItemId" class="edit-actions">
  <ion-button expand="block" (click)="onUpdate()">Update</ion-button>
  <ion-button expand="block" fill="outline" class="btn-delete" (click)="onDeleteEditing()">
    <ion-icon slot="start" name="trash-outline"></ion-icon>
    Delete
  </ion-button>
</div>
