<div class="week-header">

  <div class="week-side week-side--left">
    <ion-button fill="clear" *ngIf="showArrows" (click)="previousWeek.emit()">
      <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="week-center" [class.week-center--static]="!showArrows" [class.week-center--muted]="!isCurrentWeek" (click)="currentWeek.emit()">
    <span class="week-number">
      Week {{ isoWeek }}
    </span>
    <span class="week-year">{{ year }}</span>
  </div>

  <div class="week-side week-side--right">
    <div *ngIf="showShare || showClear" class="week-action-group">
      <button *ngIf="showShare" class="week-icon-btn" (click)="share.emit()">
        <ion-icon name="share-social-outline"></ion-icon>
      </button>
      <button *ngIf="showClear" class="week-icon-btn" (click)="clearWeek.emit()">
        <ion-icon name="trash-outline"></ion-icon>
      </button>
    </div>
    <ion-button fill="clear" *ngIf="showArrows" (click)="nextWeek.emit()">
      <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </div>

</div>
