<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="plan">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Plan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shopping">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Shopping</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="meals">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Meals</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tags">
      <ion-icon name="pricetag-outline"></ion-icon>
      <ion-label>Tags</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
