<app-header></app-header>

<ion-content #contentRef>

  <ng-container *ngIf="week">

    <app-week-nav
      [isoWeek]="week.isoWeek"
      [year]="week.year"
      (previousWeek)="goToPreviousWeek()"
      (nextWeek)="goToNextWeek()"
      (currentWeek)="goToCurrentWeek()"
    ></app-week-nav>

    <div class="plan-incomplete-warning" *ngIf="!isWeekComplete">
      <ion-icon name="warning-outline"></ion-icon>
      Plan is not complete yet
    </div>

    <div class="list-container">

      <p class="empty-state" *ngIf="activeItems.length === 0 && doneItems.length === 0">
        No ingredients this week yet.
      </p>

      <div class="ingredient-row" *ngFor="let item of activeItems" (click)="toggleItem(item)">
        <span class="ingredient-name">{{ item.ingredientName }}</span>
        <span class="meal-label">{{ item.mealName }}</span>
      </div>

      <div class="complete-section" *ngIf="doneItems.length > 0">
        <p class="section-header">Complete</p>
        <div class="ingredient-row ingredient-row--done" *ngFor="let item of doneItems" (click)="toggleItem(item)">
          <span class="ingredient-name">{{ item.ingredientName }}</span>
          <span class="meal-label">{{ item.mealName }}</span>
        </div>
      </div>

    </div>

  </ng-container>

</ion-content>
